@media only screen and (max-width: 600px) {

html {
        background-color: rgb(3, 3, 57);
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    max-width: fit-content;
    margin: auto;
    margin-top: auto;
    margin-top: 6rem;
    text-align: center;
}

.title {
    color: rgb(7, 7, 115);
    background-color: whitesmoke;
    margin-bottom: 3rem;
    text-align: center;
    border-radius: 5px;
    margin: 2.5rem;
}

.type {
    border-radius: 5px;
    color: rgb(0, 0, 0);
    font-size: larger;
    text-align:center;
}


.submit {
    font-size:16px;
    border-radius: 5px;
    margin: 2.5rem;
}

p {
  color: rgb(252, 252, 252);
  margin-bottom: 2rem;
}

.div-1 {
  margin-bottom: 4rem;
}

#weather-icon-container {
    width: 100px; /* Set the width as needed */
    height: 100px; /* Set the height as needed */
    background-size: contain; /* Scale the background image to fit the container */
    background-repeat: no-repeat; /* Prevent the background image from repeating */
    background-position: center; /* Center the background image within the container */
    margin: 0  auto; /* Center the container horizontally */
    text-align: center; /* Center the text in the container */
    font-size: 50px; /* Adjust font size as needed */
    padding: 1px; /* Add padding to space the text from the edges of the container */
  }

}

@media only screen and (min-width: 601px){

html {
        background-color: rgb(3, 3, 57);
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    max-width: fit-content;
    margin: auto;
    margin-top: auto;
    margin-top: 10rem;
    text-align: center;
}

.title {
    color: rgb(7, 7, 115);
    background-color: whitesmoke;
    margin-bottom: 3rem;
    text-align: center;
    border-radius: 5px;
    
}

.type {
    border-radius: 5px;
    color: rgb(0, 0, 0);
    margin: 10px;
    font-size: larger; 
}


.submit {
    font-size:16px;
    border-radius: 5px;
    margin-left: 1rem;
}

p {
  color: rgb(252, 252, 252);
  margin-top: 3rem;
}

#weather-icon-container {
    width: 100px; /* Set the width as needed */
    height: 100px; /* Set the height as needed */
    background-size: contain; /* Scale the background image to fit the container */
    background-repeat: no-repeat; /* Prevent the background image from repeating */
    background-position: center; /* Center the background image within the container */
    margin: 0 auto; /* Center the container horizontally */
    text-align: center; /* Center the text in the container */
    padding: 10px; /* Add padding to space the text from the edges of the container */
  }
 

}